<?xml version="1.0"?>
<Entry>root:DefaultAsset/Entry.lua</Entry>
<Plugins>
	<Plugin name = "MEMORY" 	library = "NedMemorySystem"/>
	<Plugin name = "CONTROL" 	library = "BaseActionSystem"/>
	<Plugin name = "ENVIR" 		library = "ListEnvironmentSystem"/>
	<!--<Plugin name = "QUEUE" 		library = "OCTreeRenderQueueSystem"/>-->
	<!--<Plugin name = "QUEUE" 		library = "NoCullRenderQueueSystem"/>-->
	<Plugin name = "PHYSIC"		library = "BulletPhysicSystem"/>
	<Plugin name = "QUEUE" 		library = "ListRenderQueueSystem"/>
	<Plugin name = "PIPE" 		library = "ForwardPipelineSystem"/>
	<Plugin name = "IO" 		library = "IOSystem"/>
	<Plugin name = "TIME" 		library = "TimeSystem"/>
	<Plugin name = "THREAD" 	library = "ThreadSystem"/>
	<Plugin name = "SCRIPT" 	library = "LuaScriptSystem"/>
	<Plugin name = "SOUND" 		library = "OpenALSoundSystem"/>
	<!--<Plugin name = "SOUND" 	library = "OpenSLESSoundSystem"/>-->
	<Plugin name = "TEXT" 		library = "BTextSystem"/>
	<Plugin name = "WEB" 		library = "CurlWebSystem"/>
	<Plugin name = "RESOURCE" 	library = "ResourceSystem"/>
	<Plugin name = "MATERIAL" 	library = "LuaMaterialSystem"/>
	<Plugin name = "GRAPHIC" 	library = "OpenGLGraphicSystem"/>
	<Plugin name = "GUI" 		library = "BGUI"/>
	<Plugin name = "PARTICLE" 	library = "BParticle"/>
</Plugins>